.divUno{

    display: flex;
    background-color: #9b5a46;
    height: 190px;
    border-radius: 20px;

}
.h1{
    color: bisque;
    margin-left: 30%;
    padding-top: 40px;

}
.principal{
    display: flex;
    background-color: #d4bcb0;
    border-radius: 10px;
}
.izquierdo{
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
}
.p1{
    text-align: center;
}
.formulario{
    margin-left: 60px;
    margin-top: 20px;
}


.boton{
    margin-left: 340px;
    background-color: black;
    color: aliceblue;
}
.divDerecho{
    margin-top: 25px;
    margin-left: 10%;
    

}
.imagen1{
    width: 90%;
    height: 80%;
    border-radius: 10px;
}
.texto{
    margin-left: 40%;
}
.divTres{
    background-color: #dca44f;
    border-radius: 10px;
    margin-top: 20px;
    
}
.form{
    margin-left: 30%;
}
.boton2{
    margin-left: 20%;
}
.p2{
    margin-left: 30%;
    margin-top: 20px;

}
.a1{
    margin-left: 43%;
    
}
.label{
    margin-left: 80px;
}
.label2{
    margin-left: 77px;
}
.label3{
    margin-left: 10px;
}
.label4{
    margin-left: 70px;
}
.Enviar{
    margin-left: 21%;
}