.Principal{
    
    background-color: #f7d8c3;
    height: 500px;
    border-radius: 20px;
    padding-left: 25% ;
    padding-top: 30% ;

}
.li{
    margin-left:25%;
}
.p5{
    margin-left:18%;
}
.h